.container
  .row
    .span12
      / %hr
      %footer
        %p.pull-left &copy; Next Up Chicago 2013
  .row
    .span3
      %h4 Pages
      %ul.unstyled
        %li
          = link_to "Buyer", buyer_path
        %li
          = link_to "Renter", renter_path
        %li
          = link_to "Guides", guides_path
    .span3
      %h4 Company
      %ul.unstyled
        %li
          = link_to "About Us", about_us_path
        %li
          = link_to "Press", press_path
        %li
          = link_to "Careers", careers_path
    .span2.offset4
      %address
        %strong Next Up Chicago
        %br
        123 Randolph St
        %br
        Chicago, IL 60607
        %br
        %abbr{title: "Phone"} P:
        (123) 456-7890





